body{
 font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 15px
}

span.tBold {
    font-weight: 700;
}

.sText{
  font-size: 14px;
  font-style: italic;
}

p {
    padding-left: 15px;
}

h1.title {
    font-size: 42px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: underline;
    text-decoration-color: #009edb;
    letter-spacing: 3px;
    margin: 50px 0;
}
a {
    color: black;
    text-decoration: none;
}
a:hover{
  color: #009edb;
  text-decoration: underline;
}
.imageWrapper {
    overflow: hidden;
    padding: 10px 0;
  }

  .infoLeft{
    width: 50%;
    float: left;
  }

  .imgRight {
    float: right;
    width: 50%;
}

.imgRight img {
    float: right;
    width: 300px;
    margin: 20px;
    box-shadow: 7px 7px 1px #009edb;
}

p.name {
    font-size: 24px;
    margin-bottom: 20px;
  }

h4.iheader {
    color: white;
    font-size: 18px;
    background-color: #009edb;
    padding: 10px;
}

.sWrapper {
    padding: 5px 0;
}

.stitle{
  font-size: 20px;
  color: white;
  background-color: #009edb;
  padding: 10px;
  text-transform: uppercase;
}

.info table{
  width: 100%;
  border-collapse: collapse;
}
.info table td, .info table th {
    text-align: center;
    border: 1px solid #fff;
    padding: 15px;
}
.info table th{
  background-color: lightblue;
}
.info table tr:nth-child(odd){
  background-color: #d9ffff;
}
.info table tr:nth-child(even){
  background-color: azure;
}

.info table tr:hover{
  background-color: #d5f3f3;
}

.info ol li {
    padding: 5px 0;
}
